.navbar.navbar-default.navbar-fixed-top
  .navbar-inner
    .container
      %a.navbar-brand{href: "/"}
        Cyber Scan
        %span.status
          -#%i.status-sprite.status-idle
          -#cyberscan
      %ul.nav.navbar-nav
        %li
          %a{href: "/"} Dashboard
        %li.active
          %a{href: "/targets"} Targets
      .poll-wrapper.pull-right
#page
  .container
    = render 'layouts/messages_admin'
    .row
      -#.span12.summary_bar
        .row
          %h4.span10
            %span.title Don't know what to put here
        %ul.unstyled.summary.row
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"
          %li.processed.span2
            %span.count= 0
            %span.desc= "Something"

      .span12
        %h1
          ='Targets'
          %div{style:'float:right;'}
            %input.btn.btn-danger.btn-small{name: "commit", onclick:"window.location.href='/targets/new'", style: "float:right padding-top:0;margin-bottom:13px;margin-left:5px;", type: "submit", value: "Add New"}/

        %table.queues.table.table-hover.table-bordered.table-striped.table-white
          %thead
            %th Name
            %th IP Address
            %th Status
            %th Report
            %th Created
            %th Updated
            %th
          -@targets.each do |t|
            %tr
              %td= t.name
              %td= t.ip_address
              %td= t.status.blank? ? 'Not Scanned' : t.status.upcase
              %td= t.report_id.blank? ? 'n/a' : 'tbc'
              %td= time_ago_in_words(t.created_at) + ' ago'
              %td= time_ago_in_words(t.updated_at) + ' ago'
              %td
                %input.btn.btn-small{name: "commit", onclick:"window.location.href='#{edit_target_path(t)}'", style: "float:right padding-top:0;margin-bottom:13px;margin-left:5px;", type: "submit", value: "Edit"}/
                %input.btn.btn-small{name: "commit", onclick:"window.location.href='#{target_path(t)}'", style: "float:right padding-top:0;margin-bottom:13px;margin-left:5px;", type: "submit", value: "Show"}/
                %input.btn.btn-danger.btn-small{name: "commit", onclick:"window.location.href='#'", style: "float:right padding-top:0;margin-bottom:13px;margin-left:5px;", type: "submit", value: "Scan"}/
